#card {
    position: absolute;
    width: 350px;
    height: 650px;
    border: double;
    border-radius: 25px;
    background-color: bisque;
    box-shadow: 9px 10px 35px -6px rgba(0,0,0,0.75);
}

#inside_card {
    background-color: #ecdfc6;
    border-radius: 25px;
    border: double;
    margin-left: 5px;
    margin-right: 5px;
}

.card-header {
    text-align: center;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 150px;
    border-radius: 25px;
}

.description {
    text-align: left;
    font-size: 13px;
    margin-bottom: 40px;
    margin-left: 25px;
    margin-top: 1px;
    font-style: italic;
    padding-left: 5px;
}

.general-info {
    font-size: 14px;
    text-align: left;
    padding-left: 2%;
    line-height: 1.6;
    margin-top: 60px;
    font-style: italic;
}

.attributes {
    margin: 5px;
    margin-left: 5px;
    font-style: italic;
}

.attributes,.card-header, .general-info {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.attribute_description {
    font-size: 14px;
    font-style: italic;
}
